@import 'reset.css';

.container {
  max-width: 800px;
  margin: 0 auto;
}

.posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px
}

.one-post {
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
}
.one-post .title {
  text-transform: uppercase;
  font-weight: normal;
}
